@using InitCMS.Models;

@model dynamic

@{
    Layout = "~/Views/Shared/_LayoutStore.cshtml";
    ViewData["Title"] = "K&C Electronic Store";
}

<div class="row">
    <div class="col-lg-3">
       
        <!-- Search-->
        <input id="myInput" class="form-control border-warning" type="text" placeholder="Search by Name ..." />
        <br />
        <div class="dropdown list-group">
            <button class="btn border-warning dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <strong>Categories</strong>
                <span class="caret"></span>
            </button>
            <div class="dropdown-menu border-warning" aria-labelledby="dropdownMenuButton">
                @foreach (ProductCategory item in Model.productCategories)
                {

                    <a asp-action="ProductByCategory" asp-route-id="@item.Id" class="dropdown-item">@Html.DisplayFor(modelItem => item.Name)</a>

                }
            </div>
        </div>
        <br />
    </div>
    <br />
    <!-- /.col-lg-3 -->

    <div class="col-lg-9">
        <!--
    @await Html.PartialAsync("_PartialView")
      -->

        <div class="row">
            @foreach (Product item in Model.products)
            {
            <div class="col-lg-4 col-md-6 mb-4 list-item" data-role="name">
                <div class="card h-100 border-warning">

                    <a asp-action="Details" asp-route-id="@item.Id"><img class="card-img-top img-fluid" alt="@(item.ImagePath)" loading="lazy" src="@("~/images/" + item.ImagePath)" asp-append-version="true"></a>
                    <div class="card-body">
                        <h5 class="card-title">
                            <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
                        </h5>
                        <p class="card-text">Code : @Html.DisplayFor(modelItem => item.PCode)</p>
                        <h6>Price : @Html.DisplayFor(modelItem => item.SellPrice) MMK</h6>

                    </div>
                    <div class="card-footer">
                        <a asp-action="AddToShoppingCart" asp-route-productId="@item.Id" asp-controller="ShoppingCart" class="btn btn-success"><i class="fa fa-cart-plus mr-2"></i> Add to cart</a>
                    </div>

                </div>
            </div>
            }

        </div>
        <!-- /.row -->
        <div id="pagination-container"></div>
    </div>
    <!-- /.col-lg-9 -->

</div>
<!-- /.row -->


@section scripts{
  
    
    <script type="text/javascript">
        $(document).ready(function () {
            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $('div[data-role = "name"]').filter(function () {
                    $(this).toggle($(this).find('h5').text().toLowerCase().indexOf(value) > -1)
                });
            });

            var items = $('.list-item');
            var numItems = items.length;
            var perPage = 15;
            items.slice(perPage).hide();

            $("#pagination-container").pagination({
                items: numItems,
                itemsOnPage: perPage,
                prevText: "<",
                nextText: ">",
                onPageClick: function (pageNumber) {
                    var showFrom = perPage * (pageNumber - 1);
                    var showTo = showFrom + perPage;
                    items.hide().slice(showFrom, showTo).show();
                }

            });
        });

    </script>

}
