
@model IEnumerable<InitCMS.Models.Product>
@{
    Layout = "~/Views/Shared/_LayoutStore.cshtml";
    ViewData["Title"] = "Product Category";
}

<input id="myInput" class="form-control border-warning" type="text" placeholder="Search by Name ..." />
<br />

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-lg-3 col-md-6 mb-4 list-item" data-role="name">
            <div class="card h-100 border-warning">
                <a asp-action="Details" asp-route-id="@item.Id"><img class="card-img-top img-fluid" loading="lazy" src="@("~/images/" + item.ImagePath)" asp-append-version="true"></a>
                <div class="card-body">
                    <h5 class="card-title">
                        <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
                    </h5>
                    <p class="card-text">Code : @Html.DisplayFor(modelItem => item.PCode)</p>
                    <h5>Price : @Html.DisplayFor(modelItem => item.SellPrice) MMK</h5>

                </div>
                <div class="card-footer">
                    <a asp-action="AddToShoppingCart" asp-route-productId="@item.Id" asp-controller="ShoppingCart" class="btn btn-success"><i class="fa fa-cart-plus mr-2"></i> Add to cart</a>
                </div>
            </div>
        </div>
    }

</div>
<!-- /.row -->
<div id="pagination-container"></div>

@section scripts{
   
    <!--Pagination -->

    <script type="text/javascript">
        $(document).ready(function () {
            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $('div[data-role = "name"]').filter(function () {
                    $(this).toggle($(this).find('h4').text().toLowerCase().indexOf(value) > -1)
                });
            });

            var items = $('.list-item');
            var numItems = items.length;
            var perPage = 16;
            items.slice(perPage).hide();

            $("#pagination-container").pagination({
                items: numItems,
                itemsOnPage: perPage,
                prevText: "<",
                nextText: ">",
                onPageClick: function (pageNumber) {
                    var showFrom = perPage * (pageNumber - 1);
                    var showTo = showFrom + perPage;
                    items.hide().slice(showFrom, showTo).show();
                }

            });
        });

    </script>
}